# Ignore the local target folder so Docker doesn't upload it (Saves lots of time)
# Ignore build logs and IDE settings
bin/
.idea/
.vscode/
.git/
*.log
# Ignore the local mvn folder if you are already copying it
.mvn/wrapper/maven-wrapper.jar