apiVersion: apps/v1
kind: Deployment
metadata:
  name: posts-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: posts-service
  template: # template for the pods to be created
    metadata:
      labels:
        app: posts-service
    spec:
      containers:
        - name: posts-service
          image: manishrnl/linked-in-app-post-service:latest
          resources:
            limits:
              memory: "400Mi"
              cpu: "200m"
            requests:
                memory: "200Mi"
                cpu: "100m"
          env:
              - name: SPRING_PROFILES_ACTIVE
                value: k8s
              - name: DB_USER
                value: postgres
              - name: DB_PASSWORD
                value: Manish@2009
              - name: DB_SERVICE
                value: posts-db

          ports:
            - containerPort: 8001


---

apiVersion: v1
kind: Service
metadata:
  name: posts-service
spec:
  selector:
    app: posts-service
  ports:
    - port: 80
      targetPort: 8001


