
apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-service
  labels:
    app: discovery-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-service
  template:
    metadata:
      labels:
        app: discovery-service
    spec:
      containers:
      - name: discovery-service
        image: manishrnl/linked-in-app-discovery-service:latest
        ports:
        - containerPort: 8761
        env:
        - name: JAVA_OPTS
          value: "-Xmx256m -Xms128m"