apiVersion: v1
kind: Service
metadata:
  name: discovery-service
  labels:
    app: discovery-service
spec:
  type: LoadBalancer
  selector:
    app: discovery-service
  ports:
  - port: 8761
    targetPort: 8761
    protocol: TCP