
apiVersion: v1
kind: Service
metadata:
  name: schema-registry
  labels:
    app: schema-registry
spec:
  type: LoadBalancer
  selector:
    app: schema-registry
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP